<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- title %>
        <!-- 这里的style对应sever-render.js里面的style -->
        <!-- %-表示不转译 ，如果要转译，则用%= -->
        <%- style %>
</head>

<body>
    <div id="root">
        <%- appString %>
    </div>
    <!-- 7-10 0120 scripts运行时还要用到下面的东西 -->
    <%- initialState %>
        <%- scripts %>
</body>

</html>
